.pagination {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
ul {
  list-style: none;
  padding: 0;
}
ul.pagination li {
  display: inline-block;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
ul.pagination li a {
  text-decoration: none;
  color: #444444;
  font-size: 1rem;
}
ul.pagination li.active a {
  color: #292929;
}
ul.pagination li.active {
  background-color: #fec15c;
  border-radius: 45px;
}
.page-selection {
  width: 48px;
  height: 30px;
  color: orange;
}
